<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
    <link rel="manifest" href="/img/site.webmanifest">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plaster&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/egg.css">
    <link rel="stylesheet" href="/css/takeStyle.css">

    <title>THE EGGHEAD</title>
</head>
<body>
  <nav class="navbar">
			<div class="container">
				<div class="theLogo">
                    <img class="eggLogo" src="./img/eggLogo.jpg" alt="">

                    THEGGHEAD
                </div>

				<ul class="nav">
					<li><a href="/">Home</a></li>
                    {{#if isMember}}
                    <li><a href="/dashboard">Dashboard</a></li>
					<li><button onclick=logout() class="logOff">Logout</button></li>
                    {{else}}
                    <li><a href="/login">Login</a></li>
                    {{/if}}
                    <li class="userLog">{{theUser}}</li>
				</ul>
                <div class="hamburger">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
			</div>
		</nav> 

   

   <div class="">
       {{{body}}}

   </div>
</body>
    <script src="/js/egg.js"></script>
    <script src="/js/logout.js"></script>
    {{!-- <script src="/js/login.js"></script> --}}

</html>