

<aside>

    <header class="header">
        <h1 class="title">LOGIN</h1>
        
        <div class="sign-up">
            <form class="login-form">
                
                <input class="email-login" type="email" placeholder="Enter Email">
            <hr>
                <input class="password-login" type="password" placeholder="Enter Password">
            <hr>
                <button type="submit" >Login to:</button>
                <br>
                <a class="registerHere" href="/register">Not A Member? Register HERE</a>
            

            </form>
            

        </div>
    </header>
        <script src="/js/login.js"></script>

</aside>
