<!DOCTYPE html>
<html lang="en">
<head>
    
    <link rel="stylesheet" href="/css/takeStyle.css">
    
</head>
<body>
    
    <header class="header">
        <h1 class="title">Sign Up</h1>
        
        <div class="sign-up">
            <form class="signup-form">
                
                <input class="email" type="email" placeholder="Enter Email">

            <hr>
                <input class="username" type="username" placeholder="Enter Username">

            <hr>
                <input class="password" type="password" placeholder="Enter Password">
            <hr>
                <button type="submit" >Create Account</button>
            

            </form>
            <button class="btn">Already a member? Click <b>here</b> to login</button>

        </div>
    </header>
    
    
  
</body>
<script src="/js/signup.js"></script>
</html>